[Unit]
Description=PowerBlockExtended GPIO daemon
After=local-fs.target dbus.service
Wants=dbus.service
Conflicts=powerblock.service

[Service]
Type=simple
ExecStart=/usr/local/sbin/powerblockextended
Restart=on-failure
RestartSec=200ms

User=root
Group=root

RuntimeDirectory=powerblockextended
RuntimeDirectoryMode=0755

KillSignal=SIGTERM
TimeoutStopSec=5

NoNewPrivileges=yes
ProtectSystem=strict
ProtectHome=yes
PrivateTmp=yes

[Install]
WantedBy=multi-user.target
