[Unit]
Description=Mark reboot intent for PowerBlock
DefaultDependencies=no
Before=shutdown.target
Before=powerblock.service

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'touch /run/powerblock-reboot-intent'

[Install]
WantedBy=reboot.target
